body {
    margin: 0;
    font-family: Roboto;
}



.hero-nav {
    display: flex;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
}

.section-1 {
    display: flex;
}

.img-1 {
    width: 30%;
}